.card {
  padding: 1.5rem;
  border-radius: 16px;
  background: linear-gradient(85deg, #434343, #262626);
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  min-width: 300px;
  min-height: 350px;
  box-shadow: -2rem 0 3rem -2rem black;

  &:hover {
    transform: translate(-0.5rem, -1rem) rotate(3deg);
    cursor: pointer;
  }

  &:hover ~ .card {
    transform: translateX(130px);
  }

  &:not(:first-child) {
    margin-left: -130px;
    box-shadow: -3rem 0 3rem -2rem #000;
  }

  .content {
    padding: 20px;
    .category {
      display: block;
      margin: 0 0 0.25rem 0;
      color: #777;
    }

    .title {
      font-size: 1.3rem;
      margin: 0 0 1rem 0;
    }

    .tags {
      margin: 0 0 0.5rem 0;
      a {
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        color: #ff7a18;
        font-size: 0.66rem;
        -webkit-margin-end: 0.66rem;
        margin-inline-end: 0.66rem;
      }
    }

    .author_row {
      display: grid;
      grid-template-columns: 40px 1fr;
      gap: 0.5rem;
      align-items: center;
      color: #565656;
      line-height: 1.3;
      padding-top: 0.5rem;
      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }

  .preview {
    width: 100px;
    height: 100px;
    padding: 10px; /* 可选：添加内边距 */
    position: relative;
    pointer-events: none;
    & > * {
      transform: scale(0.5);
      transform-origin: top left;
      position: absolute;
      top: 10px;
      left: 20px;
    }
  }
}
